$codeblock-background-color: #e3e3e3;
$codeblock-code-color: #c1788b;
$codeblock-code-spacing: 0.05rem;

$content-body-font-size: 1.6rem;
$content-h1-font-size: 3.2rem;
$content-h2-font-size: 2.8rem;
$content-h3-font-size: 2.4rem;
$content-h4-font-size: 2rem;
$content-h5-font-size: 1.8rem;
$content-h6-font-size: 1.6rem;
